/* index.module.css */

.main {
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: rgb((233 + 255) / 2.5, (84 + 255) / 2.5, (100 + 255) / 2.5);
}

@media screen and (width <= 800px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-height: 15vh;
    overflow: auto;
  }
}

.listContainer {
  padding: 10px;
}

.listItem {
  margin-bottom: 10px;
  list-style: none;
  transition: transform 0.2s ease;
}

.listItem:hover {
  cursor: move;
  background-color: rgb(233 84 100 / 10%);
  transform: scale(1.05);
}

.listTitle {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 0;
  font-weight: bold;
  border-radius: 30px; /* 角を丸く */
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.backButton {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button {
  width: 100%;
  color: #fff;
  background-color: var(--font-color-default);
  border: none;
  border-radius: 30px;
}

@media screen and (width <= 800px) {
  .buttonGroup {
    flex-direction: row;
  }

  .backButton {
    align-items: center;
  }

  .button {
    width: 80%;
  }
}
