/* index.module.css */

.main {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: rgb(247 236 237);
  border-radius: 10px;
}

@media screen and (width <= 600px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-height: 15vh;
    overflow: auto;
  }
}

.listContainer {
  padding: 10px;
}

.listItem {
  margin-bottom: 10px;
  list-style: none;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.listItem:hover {
  cursor: move;
  background-color: rgb(233 84 100 / 10%);
  transform: scale(1.05);
}

.listTitle {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 0;
  font-weight: bold;
  border-radius: 30px; /* 角を丸く */
}

.buttonGroup {
  /* z-index: 1; */
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 20px;
}

.decideButton {
  position: relative;
  display: block;
  width: 70%;
  padding: 10px 20px;
  overflow: hidden;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--font-color-default);
  border: 2px solid var(--font-color-default);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.decideButton::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgb(233 84 100 / 70%);
  transition: all 0.3s;
  transform: translateX(-100%);
}

.decideButton:hover::before {
  transform: translateX(0);
}

.decideButton:hover {
  color: #fff;
}

.resetButton {
  display: block;
  width: 30%;
  padding: 3px 5px;
  font-weight: normal;
  color: var(--font-color-default);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--font-color-default);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.resetButton:hover {
  background-color: rgb(233 84 100 / 10%);
}

.backButtonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.backButton {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-right: 15%;
  margin-left: 15%;
  font-weight: normal;
  color: var(--font-color-default);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--font-color-default);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: rgb(233 84 100 / 10%);
}

@media screen and (width <= 800px) {
  .buttonGroup {
    display: block;
  }

  .decideButton,
  .resetButton {
    width: 100%;
    margin-top: 5%;
  }
}

@media screen and (width <= 600px) {
  .buttonGroup {
    display: flex;
    flex-direction: row;
  }

  .backButton {
    align-items: center;
  }

  .decideButton {
    width: 60%;
  }

  .resetButton {
    width: 30%;
  }
}
