.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  min-height: 100vh;
  padding: 0 0.5rem;
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin-top: 60px;
}

.imageBox {
  display: flex;
  justify-content: center;
}

.image {
  min-width: 300px;
  max-width: 30%;
  height: auto;
}

.searchContainer {
  display: flex;
  justify-content: center;
  width: calc(100vw - 20vw);
  height: calc(100vh - 70vh);
  max-height: 400px;
}

.searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;HEADwidth
  height: 200px;max-width
  min-height: 200px;
  padding-right: 10%;
  padding-left: 10%;
  border: 1.5px solid var(--font-color-default);289f0783113db10f0accb1a3b13b553989345a82border-radius
  box-shadow: 0 15px 15px -10px rgb(0 0 0 / 20%);
<<<<<<< HEAD
  width: 500px;
=======
  max-width: 600px;
>>>>>>> 289f0783113db10f0accb1a3b13b553989345a82
  border-radius: 30px;
}

.normalText {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: calc(12px + 0.5vw);
  font-weight: 500;
  text-align: center;
}

.box {
  position: relative;
  display: flex;
  width: calc(100vw - 40vw);
  max-width: 500px;
  height: calc(100vh - 40vh);
  max-height: 56.8px;
  border-radius: 15px;
<<<<<<< HEAD
  outline: 1.5px solid #e95464;HEADoutline
}

.box:focus-within {
  border: none;
  outline: 1.5px solid blue !important;
}

.box:hover {
  outline: 1.5px solid var(--sub-color);
=======
  outline: 1.5px solid var(--font-color-default);outline
>>>>>>> 289f0783113db10f0accb1a3b13b553989345a82
}

.subject {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  font-weight: 500;
  text-align: center;
}

.inp {
  width: 80%;
  height: 100%;
  padding-left: 3%;
<<<<<<< HEAD
  border: var(--main-color);
=======
  border: var(--font-color-default);border
  border-left: 1px solid gray;
>>>>>>> 289f0783113db10f0accb1a3b13b553989345a82
  border-radius: 0 15px 15px 0;289f0783113db10f0accb1a3b13b553989345a82border-radius
}

.search {
  width: 30%;
  height: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
<<<<<<< HEAD
  background-color: var(--main-color);HEADbackground-color
  border: 0;
  border-radius: 15px;
}

.search:hover {
  background-color: var(--sub-color);
}

=======
  cursor: pointer;cursor
  background-color: #e95464;
  border: 0;
  border-radius: 15px
}
>>>>>>> 289f0783113db10f0accb1a3b13b553989345a82
