.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  min-height: 100vh;
  padding: 0 0.5rem;
  overflow: auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin-top: 60px;
}

.imageBox {
  display: flex;
  justify-content: center;
}

.image {
  min-width: 300px;
  max-width: 30%;
  height: auto;
}

.searchContainer {
  display: flex;
  justify-content: center;
  width: calc(100vw - 20vw);
  height: calc(100vh - 70vh);
  max-height: 400px;
}

.searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  min-height: 200px;
  padding-right: 10%;
  padding-left: 10%;
  border: 1.5px solid var(--font-color-default);
  border-radius: 30px;
  box-shadow: 0 15px 15px -10px rgb(0 0 0 / 20%);
}

.normalText {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: calc(12px + 0.5vw);
  font-weight: 500;
  text-align: center;
}

.box {
  position: relative;
  display: flex;
  width: calc(100vw - 40vw);
  max-width: 500px;
  height: calc(100vh - 40vh);
  max-height: 56.8px;
  border-radius: 15px;
  outline: 1.5px solid #e95464;
}

.box:hover {
  outline: 1.5px solid var(--font-color-default);
}

.subject {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  font-weight: 500;
  text-align: center;
}

.inp {
  width: 80%;
  height: 100%;
  padding-left: 3%;
  border: var(--font-color-default);
  border-left: 1px solid gray;
  border-radius: 0 15px 15px 0;
}

.inp:focus {
  outline: none;
}

.search {
  width: 30%;
  height: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  cursor: pointer;
  background-color: #e95464;
  border: 0;
  border-radius: 15px;
}
