.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* justify-content: center; */

  width: -webkit-fill-available;
  height: -webkit-fill-available;
  min-height: 100vh;
  padding: 0 0.5rem;
  overflow: auto;
}

.title {
  width: 600px;
  height: 150px;
  font-size: 70px;
  text-align: center;
}

.image {
  width: 300px;
  height: auto;
}

.normaltext {
  font-size: 20px;
  font-weight: 500;
}

.searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 200px;
  border: 1.5px solid #e95464;
  border-radius: 30px;
  box-shadow: 0 15px 15px -10px rgb(0 0 0 / 20%);
}

.box {
  position: relative;
  display: flex;
  width: 400px;
  height: 56.8px;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 15px;
  outline: 1.5px solid #e95464;
}

.box:focus-within {
  border: none;
  outline: 1.5px solid blue !important;
}

.box:hover {
  outline: 1.5px solid #e89e54;
}

.subject {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  font-weight: 500;
  text-align: center;
}

.inp {
  width: 80%;
  height: 100%;
  padding-left: 3%;
  border: #e95464;
  border-left: 1px solid #b6b5b5;
  border-radius: 0 15px 15px 0;
}

.inp:focus {
  outline: none;
}

.inp[type='text']::placeholder {
  color: #999; /* プレースホルダーの色を薄いグレーに設定 */
}

.search {
  width: 100px;
  height: 30px;
  color: white;
  background-color: #e95464;
  border: 0;
  border-radius: 15px;
}

.search:hover {
  background-color: #e89e54;
}

.listItem {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.listTitle {
  margin: 0;
  font-size: 1.5em;
}

.listDescription {
  margin: 5px 0;
  color: #555;
}
