.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  min-height: 100vh;
  padding: 0 0.5rem;
  overflow: auto;
}

.departureBox {
  display: flex;
  margin: 15px;
}

.depart {
  width: 37px;
  height: 30px;
  color: white;
  text-align: center;
  background-color: #46a667;
  border-radius: 5%;
}

.arrivalBox {
  display: flex;
  margin: 15px;
}

.serch {
  width: 100px;
  height: 30px;
  color: white;
  background-color: #f38511;
  border: 0;
}

.serch:hover {
  background-color: #ff5700;
}
