.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  min-height: 100vh;
  padding: 0 0.5rem;
  overflow: auto;
}

.container ::-webkit-scrollbar {
  display: none;
}

.main {
  display: flex;
  margin-top: 60px;
}

@media screen and (width <= 600px) {
  .main {
    display: inline;
  }
}
